@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: black;
}


/*       nav      */
nav {
    background-color: black;
    text-align: center;
    padding-bottom: 5px;
}

header {
    padding: 20px 0px 0px 0px;
}

#social-icons img {
    height: 30px;
    margin: 0px 10px;
}

#social-icons {
    margin: 10px;
}

#logo {
    height: 75px;
    margin: 10px 0px;
}

#nav-links {
    margin: 10px;
}

#nav-links a {
    color: white;
    text-decoration: none;
    margin: 0px 5px;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
}


/*        body       */
#main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;    
    margin: 100px 10px 0px 10px;
    grid-gap: 10px;
}

#main img {
    width: 100%;
    height: 100%;
}

#item-1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

#item-2 {
    grid-column-start: 3;
    grid-column-end: 4;
}

#item-4 {
    grid-column-start: 5;
    grid-column-end: 7;
}

#item-5 {
    grid-column-start: 7;
    grid-column-end: 9;
}

#item-6 {
    grid-column-start: 1;
    grid-column-end: 3;
}

#item-7 {
    grid-column-start: 3;
    grid-column-end: 5;
}

#item-8 {
    grid-column-start: 5;
    grid-column-end: 7;
}

#item-12 {
    grid-column-start: 2;
    grid-column-end: 4;
}

#item-14 {
    grid-column-start: 5;
    grid-column-end: 7;
}

#item-15 {
    grid-column-start: 7;
    grid-column-end: 9;
}

/*           footer              */
footer {
    text-align: center;
    margin: 100px 0px 0px 0px;
}

.tag {
    color: white;
}

/*       Mobile        */
@media only screen and (max-width: 480px) {
    #nav-links {
        display: flex;
    }

    #main {
        display: block;
    }
}